recursive-exclude lorax/website/taxonium_component/ *
recursive-exclude lorax/website/taxonium_data_handling/ *

recursive-include lorax/website/taxonium_component/dist/ *
recursive-include lorax/tskit-vector/ *
recursive-include lorax/data/ *
recursive-include lorax/data-new.txt


