
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f8f9fa; /* Light background for the entire app */
}

.app-container {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(to bottom, rgb(8, 120, 135), rgba(10, 10, 10, 0));
  overflow: hidden;
}

.left-container {
  width: 50%; /* Half the screen width */
  height: 100vh; /* Full screen height */
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.left-form-container {
  display: flex;
  height: 350px;
  width: 250px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  padding: 20px;
  margin-left: -00px;
  margin-top: 150px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 20px 20px 0;
}

.right-container {
  width: 100%; /* Set width to 100% */
  height: 100vh; /* Set height to 100vh for full screen */
  /* position: absolute; */
  top: 0;
  /* left: 0; */
  /* right: 0; */
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 999;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.right-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.right-container.opened {
  transform: translateX(-300px); /* Slide effect */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}


.not-supported-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

  text-align: center;
}

.not-supported-message p {
  margin: 0;
  font-size: 16px;
}

.right-container.opened {
  transform: translateX(-300px); 
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); 
  color: #444;
}

@media only screen and (max-width: 600px) {
  .left-container,
  .left-form-container,
  .right-container {
    display: none;
  }

  .not-supported-message {
    display: block;
  }
}

/* Animations */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
